<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compose</title>
</head>
<body>
    <%- include("./partials/header"); -%>
    <form  action="/compose" method="post">
    <div class="form-group">
    <h1>Compose</h1>
    <label>Title</label>
    <input class="form-control" type="text" name="userinput">
    <label>post</label>
    <textarea class="form-control" name="postBody" id="" cols="10" rows="5"></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Publish</button>
     </form>
    <%- include("./partials/footer"); -%>

</body>
</html>